<doctype! html>
<html>
<head>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular.min.js"></script>
  <script src="calc.js"></script>
</head>
<body ng-app="calc">
  <div id="calculator" ng-controller="CalcController">
    <p id="display">NUMBERS!</p>
    <div id="buttons">
      <p><button ng-click="store(1)">1</button><button ng-click="store(2)">2</button><button ng-click="store(3)">3</button><button ng-click="store('+')">+</button></p>
      <p><button ng-click="store(4)">4</button><button ng-click="store(5)">5</button><button ng-click="store(6)">6</button><button ng-click="store('-')">-</button></p>
      <p><button ng-click="store(7)">7</button><button ng-click="store(8)">8</button><button ng-click="store(9)">9</button><button ng-click="store('x')">x</button></p>
      <p><button ng-click="store(0)">0</button><button ng-click="store('/')">/</button><button ng-click="calc()">=</button></p>
    </div>
  </div>
</body>
</html>
